NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/sweet-monk
JWT_ACCESS_SECRET=supersecretaccess
JWT_REFRESH_SECRET=supersecretrefresh
JWT_ACCESS_EXPIRES_IN=15m

RAZORPAY_KEY_ID=rzp_test_dummy
RAZORPAY_KEY_SECRET=dummy_secret
RAZORPAY_WEBHOOK_SECRET=dummy_webhook_secret
